ion-col {
    color: grey;
}

ion-content {
    height: calc(100vh - 320px);

    @media (max-width: 768px) {
        height: calc(100vh - 384px);
    }

    ion-list {
        background-color: white;
        padding-top: 0;
    }

    ion-card {
        box-shadow: none;
        width: 523px;
        box-shadow: 0px 1px 10px 0px gray;
        border-radius: 10px;

        @media (max-width: 600px) {
            max-width: 400px;
            width: auto;
            box-shadow: 0px 1px 10px 0px gray;
            border-radius: 10px;
        }

        .meta-data {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        ion-icon[name="ellipse"] {
            font-size: 4px;
        }

        .post-body {
            margin: 0;
            padding: 0 16px;
        }
        
    }

    ion-button {
        ion-text {
            margin-left: 5px;
        }
    }
}

.all-posts-wrapper {
    margin-bottom: 100px;
}

ion-spinner {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-bottom: 100px;
}