<ion-card>
  <ion-card-header>
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-end">
        <ion-col>
          <ion-avatar>
            <ion-img src="{{ image }}"></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-card-title>{{ firstName }} {{ lastName }}</ion-card-title>
          <ion-card-subtitle>Web developer</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button expand="block" size="small" fill="outline" color="primary"
      >View profile</ion-button
    >
    <ion-card-content>
      <ion-card-subtitle> Account </ion-card-subtitle>
      <p>Settings & privacy</p>
      <p>Help language</p>
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle> Manage </ion-card-subtitle>
      <p>Posts</p>
      <p>Job posting account</p>
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle (click)="logOut()"> Sign out </ion-card-subtitle>
    </ion-card-content>
  </ion-card-header>
</ion-card>
