<div class="sticky-wrapper">
  <ion-card>
    <ion-card-header>
      <ion-text>
        <h5>Today's most viewed courses</h5>
        <ion-icon name="information"></ion-icon>
      </ion-text>
    </ion-card-header>
    <ion-card-header class="list-of-events">
      <ion-text>
        <h5>1. High perfomance habits</h5>
      </ion-text>
      <ion-text>
        <h5>2. Leadership 101</h5>
      </ion-text>
      <ion-text>
        <h5>3. Psychology of Success</h5>
      </ion-text>
    </ion-card-header>

    <ion-button fill="clear" color="medium">
      View all recomendations <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </ion-card>
</div>
